asyncer
brotlipy
chardet
flask
google-api-python-client
google-auth-oauthlib
gtts
jupyterlab
line-bot-sdk
oauth2
oauth2client
openai
openpyxl
pandas
pip-chill
polyglot
pycld2
pyicu
pyopenssl
pysocks
pyttsx3
scipy
structlog
tiktoken
typing-extensions
